<div class="headextend">
    <div class="box">
        <h1>The techBlog</h1>
    </div>
</div>
<h1 class="title">Posts</h1>
{{#each allPosts}}
<div class="container">
    <h3 class="phead">{{name}} by {{user.name}}</h3>
    <p>{{description}}</p>
</div>
{{/each}}

