<div class="headextend">
    <div class="box">
        <h1>The techBlog</h1>
    </div>
    <div class="box2"></div>
</div>


<h3>Login </h3>
<form action="" id="login-form">
    <input type="text" placeholder="email" id="login-email">
    <input type="password" placeholder="password"id="login-password">
    <button>Login!</button>
</form>

<script src="/auth.js"></script>

