<div class="headextend">
    <div class="box">
        <h1>Dashboard</h1>
    </div>
    <div class="box2"></div>
</div>


<h3 class="title">{{name}}'s Posts</h3>
{{#each posts}}
    <div class="container"> <h3 class="phead">{{name}} </h3>
       <p>{{description}}</p>
       <button class="del-btn" data-post-id="{{id}}">Delete me!</button>
    </div>
{{/each}}

<div id="comment">
    <h3 style="font-size: 2rem">Add New Post</h3>
    <form action="">
        <label for="input">post title</label>
        <input type="text" id="name" placeholder="title" style="display: flex; align-self:flex-start; margin:0 0 10px 25px">
        <textarea id="description" placeholder="description"></textarea>
        <button>+</button>
    </form>
</div>



<script src="/profile.js"></script>
